@{
    ViewData["Title"] = "Resultado da Multiplicação";
}

<div class="text-center">
    <p>A multiplicacao de @ViewData["numero1"] * @ViewData["numero2"] é igual a @ViewData["resultado"].</p>
</div>