@{
    ViewData["Title"] = "Resultado da Calculadora";
}

<div class="text-center">
    <p>A operacao @ViewData["numero1"] @ViewData["operacao"] @ViewData["numero2"] é igual a @ViewData["resultado"].</p>
</div>